<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{layouts/main}"
      with:title="'Hello, template'">
<th:block layout:fragment="content">

    <div class="panel-group" style="margin-top:40px">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <span th:utext="${adminMessage}">
                </span>
            </div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>
                            <a th:href="@{'/adminPanel/' + ${currentPage} + '?sortField=lastName&sortDir=' + ${reverseSortDir}}">Nume</a>
                        </th>
                        <th>
                            <a th:href="@{'/adminPanel/' + ${currentPage} + '?sortField=name&sortDir=' + ${reverseSortDir}}">Prenume</a>
                        </th>
                        <th>
                            <a th:href="@{'/adminPanel/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}">Email</a>
                        </th>

                        <th> Holidays </th>
                        <th> Delete </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="employee : ${employees}" th:name="employee">
                        <td><span th:text="${employee.name}"> Nume </span></td>
                        <td><span th:text="${employee.lastName}"> Prenume </span></td>
                        <td><span th:text="${employee.email}"> Email </span></td>
                        <td>
                            <form autocomplete="off" th:action="@{/pendingHolidays(param=${employee.id})}"  method="post" class="form-horizontal">
                                <button type="submit" class="btn btn-block">Check holidays</button>
                            </form>
                        </td>
                        <td>
                            <form autocomplete="off" th:action="@{/delete(param=${employee.email})}"  method="post" class="form-horizontal">
                                <button type="submit" class="btn btn-primary btn-block" th:if="${employee.email == 'admin@admin.com'}" disabled >Delete</button>
                                <button type="submit" class="btn btn-primary btn-block" th:if="${employee.email != 'admin@admin.com'}">Delete</button>
                            </form>
                        </td>
                    </tr>
                    </tbody>
                </table>


                <div>&nbsp;</div>
                <div th:if="${totalPages > 1}" style="display: flex; justify-content: center;">


                    <a th:if="${currentPage > 1}" th:href="@{'/adminPanel/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"><span aria-hidden="true">&laquo;</span></a>
                    <span th:unless="${currentPage > 1}"><span aria-hidden="true">&laquo;</span></span>

                    &nbsp;&nbsp;

                    <span th:each="i: ${#numbers.sequence(1, totalPages)}">
                        <a th:if="${currentPage != i}" th:href="@{'/adminPanel/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
                        <span th:unless="${currentPage != i}">[[${i}]]</span>
                        &nbsp;
                    </span>

                    <a th:if="${currentPage < totalPages}" th:href="@{'/adminPanel/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}"><span aria-hidden="true">&raquo;</span></a>
                    <span th:unless="${currentPage < totalPages}"><span aria-hidden="true">&raquo;</span></span>
                    &nbsp;&nbsp;

                </div>



            <form autocomplete="off" th:action="@{/add}"  method="get" class="form-horizontal">
                <button type="submit" class="btn btn-primary btn-block">Add employee</button>
            </form>

        </div>
    </div>

</th:block>
</html>