<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{layouts/main}"
      with:title="'Hello, template'" >
<th:block layout:fragment="content">


    <div class="panel panel-default" >
        <div class="panel-heading" style="text-align: center">My holidays</div>
        <a th:href="@{/add-holiday}">Ask for leave</a>
            <div class="panel-body">

                <table class="table">
                    <tr>
                        <th>From</th>
                        <th>To</th>
                        <th>Type</th>
                        <th>Status</th>
                    </tr>

                </table>
                </form>
            </div>

        </div>
    </div>

</th:block>
</html>