<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{layouts/main}"
      with:title="'Hello, template'" >
<th:block layout:fragment="content">


    <div class="panel panel-default">
        <div class="panel-heading" style="text-align: center">Log Work</div>
        <div class="panel-body">
            <form autocomplete="off" th:action="@{/worklog}"  method="post" class="form-horizontal">
                <table class="table">
                        <tr>
                            <td>
                                <select class="form-control" th:name="project">
                                    <option value="NONE">Select project</option>
                                    <option th:each="project : ${projectsList}" th:value="${project.id}" th:text="${project.name}"></option>
                                </select>
                            </td>
                            <td>
                                <input type="text" th:field="*{worklog.hours}" placeholder="Hours"
                                       class="form-control"/>
                            </td>
                            <td style="display: none">
                                <input type="text" th:field="*{worklog.date}" th:value="15/02/1997"
                                       class="form-control"/>
                            </td>
                            <td>
                                <input type="text" th:field="*{worklog.comment}" placeholder="Comment"
                                       class="form-control"/>
                            </td>
                            <td>
                                <button type="submit" class="btn btn-primary">Add</button>
                            </td>
                        </tr>

                </table>
            </form>
        </div>
    </div>

</th:block>
</html>