<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:with="http://www.thymeleaf.org/extras/with"
      layout:decorate="~{layouts/main}"
      with:title="'Hello, template'" >
<th:block layout:fragment="content">


    <div class="panel panel-default">
        <div class="panel-heading" style="text-align: center">My Worklogs</div>
        <div class="panel-body">

                <table class="table">
                    <tr>
                        <td>Employee/Project</td>
                        <td><span th:text="${employee.name}" >userName</span></td>
                    </tr>
                    <tr>
                        <td>Employee/Project</td>
                    </tr>
                </table>
            </form>
        </div>
    </div>

</th:block>
</html>